<header class="header">
  <nav class="header__nav">
    <a href="#" class="header__logo">
      <!-- <img
        src="https://storage.googleapis.com/a1aa/image/42ffaa76-8683-424b-b4a6-64447d4c7670.jpg"
        alt="Genesis logo icon letter Q"
        class="header__logo-img"
        width="24"
        height="24"
      /> -->
      <span class="header__logo-text">MaZ VentaZ</span>
    </a>

    <ul class="nav-menu">
      <li class="nav-menu__item"><a href="#servicios">Servicios</a></li>
      <li class="nav-menu__item"><a href="#servicios">Paquetes</a></li>
      <li class="nav-menu__item"><a href="#servicios">Oportunidades</a></li>
    </ul>

    <button type="button" class="header__signup-button">Contactar</button>
  </nav>
</header>
