<section class="pitch__container" id="servicios">
  <header class="pitch__header">
    <h2 class="pitch__title">
      Libera tu tiempo
      <br />
      y trabaja desde donde quieras
    </h2>
    <p class="pitch__description">
      Descubre cómo <strong>atraer clientes</strong> en piloto automático,
      <strong>reducir tus costos</strong> y liberar tu agenda para dedicar más
      tiempo a lo que realmente importa: <strong>tu familia</strong>, tus
      hobbies o trabajar desde cualquier lugar del mundo.
    </p>
  </header>

  <article class="pitch__carousel">
    <section
      class="pitch__carousel-images"
      role="region"
      aria-label="Galería de destinos destacados"
    >
      <figure class="pitch__carousel-item">
        <img
          alt="Faded image of palm tree and water on left side"
          class="pitch__carousel-image pitch__carousel-image--faded-left"
          height="192"
          width="128"
          src="https://storage.googleapis.com/a1aa/image/b3cc5feb-e7eb-4a5f-fb5e-f5bd36db5fa0.jpg"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Person standing on a rock overlooking a turquoise lake with mountain peaks in the background under a bright sky"
          class="pitch__carousel-image"
          height="288"
          src="https://img.freepik.com/foto-gratis/freelancer-tiro-completo-playa_23-2148968961.jpg?t=st=1747449029~exp=1747452629~hmac=1c7a006b48f951bfe64fdecf26ce896139944058da6d2e74cbecd7db6a94d717&w=1380"
          width="192"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Woman sitting on the edge of an infinity pool looking out at the ocean with palm trees and clear blue sky"
          class="pitch__carousel-image"
          height="320"
          src="https://img.freepik.com/foto-gratis/mujer-gafas-sol-trabajando-playa_23-2148575225.jpg?t=st=1747449454~exp=1747453054~hmac=c40c4409777d9c71ec12a661742e947f72a5e52455dee11d34966ca9069f64da&w=1380"
          width="224"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Aerial view of ocean waves crashing onto a sandy beach with turquoise water"
          class="pitch__carousel-image"
          height="288"
          src="https://img.freepik.com/foto-gratis/trieng-adulto-lograr-trabajo-vida-personal_23-2149590976.jpg?t=st=1747448895~exp=1747452495~hmac=e9f7878507edad5753954945b9858ea330020824d93e7269ec041f7554a4d4c1&w=1380"
          width="192"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Faded image of palm tree and water on right side"
          class="pitch__carousel-image pitch__carousel-image--faded-right"
          height="192"
          src="https://storage.googleapis.com/a1aa/image/56601c60-05ae-4813-c90b-45539118de66.jpg"
          width="128"
        />
      </figure>
    </section>
  </article>
</section>
