/* General container styles */
.pitch__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  text-align: center;
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Header styles */
.pitch__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3svh;
}

.pitch__title {
  font-size: clamp(1rem, 3.5vw, 3rem);
  font-weight: bolder;
  line-height: 1;
}

.pitch__description {
  max-width: 36rem;
  margin: 0 auto;
  line-height: 1.3;
}

/* Carousel styles */
.pitch__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pitch__carousel-images {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  max-width: 100%;
  justify-content: center;
  white-space: nowrap;
}

.pitch__carousel-item {
}

.pitch__carousel-image {
  border-radius: 1rem;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border: solid 2px var(--secondary-color);
}

.pitch__carousel-image--faded-left {
  opacity: 0.3;
}

.pitch__carousel-image--faded-right {
  opacity: 0.3;
}
