<section class="pitch__container">
  <header class="pitch__header">
    <h1 class="pitch__title">
      Escape to Top
      <br />
      Vacation Destinations
    </h1>
    <p class="pitch__description">
      Discover the world’s most popular vacation spots, from tropical beaches to
      vibrant cityscapes, perfect for creating unforgettable memories
    </p>
  </header>

  <article class="pitch__carousel">
    <span class="pitch__carousel-fade-left"></span>
    <span class="pitch__carousel-fade-right"></span>
    <section class="pitch__carousel-images">
      <figure class="pitch__carousel-item">
        <img
          alt="Faded image of palm tree and water on left side"
          class="pitch__carousel-image pitch__carousel-image--faded-left"
          height="192"
          src="https://storage.googleapis.com/a1aa/image/e7a994d5-cf4b-4b79-7000-7338720b6ab0.jpg"
          width="128"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Person standing on a rock overlooking a turquoise lake with mountain peaks in the background under a bright sky"
          class="pitch__carousel-image"
          height="288"
          src="https://storage.googleapis.com/a1aa/image/b3cc5feb-e7eb-4a5f-fb5e-f5bd36db5fa0.jpg"
          width="192"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Woman sitting on the edge of an infinity pool looking out at the ocean with palm trees and clear blue sky"
          class="pitch__carousel-image"
          height="320"
          src="https://storage.googleapis.com/a1aa/image/56601c60-05ae-4813-c90b-45539118de66.jpg"
          width="224"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Aerial view of ocean waves crashing onto a sandy beach with turquoise water"
          class="pitch__carousel-image"
          height="288"
          src="https://storage.googleapis.com/a1aa/image/1d3b8a29-6aa2-4c13-111e-0f5961a2aaf9.jpg"
          width="192"
        />
      </figure>
      <figure class="pitch__carousel-item">
        <img
          alt="Faded image of palm tree and water on right side"
          class="pitch__carousel-image pitch__carousel-image--faded-right"
          height="192"
          src="https://storage.googleapis.com/a1aa/image/c7fa91f9-dea1-45c5-4694-1858cb97a0a6.jpg"
          width="128"
        />
      </figure>
    </section>
  </article>

  <nav class="pitch__carousel-nav" aria-label="Image carousel navigation">
    <button
      aria-label="Previous"
      class="pitch__carousel-button pitch__carousel-button--prev"
    >
      <i class="fas fa-arrow-left"></i>
    </button>
    <button
      aria-label="Next"
      class="pitch__carousel-button pitch__carousel-button--next"
    >
      <i class="fas fa-arrow-right"></i>
    </button>
  </nav>
</section>
