/* @font-face {
  font-family: "Ethnocentric";
  src: url("./assets/fonts/Ethnocentric-Regular.woff2") format("woff2"),
    url("./assets/fonts/Ethnocentric-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: gold;
  --primary-color-opacity: #ffd70080;
  --secondary-color: silver;
  --secondary-color-opacity: #c0c0c080;
}

/* Box sizing y márgenes/paddings en 0 */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

/* Tipografía por defecto */
body {
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 2em;
  line-height: 1.5;
  font-family: inherit;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color-opacity);
}

/* Encabezados sin estilos predeterminados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  color: var(--primary-color);
}

/* Listas sin estilos */
ol,
ul {
  list-style: none;
}

/* Imágenes como elementos de bloque y alineadas */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/* Botones sin estilos por defecto */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* Quitar la apariencia nativa de botones y selects en algunos navegadores */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}

/* Quitar estilos del foco en algunos navegadores */
[role="button"],
button {
  cursor: pointer;
}

/* Normalización de enlaces */
a {
  color: inherit;
  text-decoration: inherit;
}

p {
  color: inherit;
  text-wrap: pretty;
  font-size: clamp(1rem, 1.3vw, 1.8rem);
}

strong {
  color: var(--primary-color);
}

span {
  color: var(--primary-color-opacity);
}

/* Quitar estilos predeterminados de tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Normalizar textarea */
textarea {
  resize: vertical;
}

/* Ocultar elementos con hidden */
[hidden] {
  display: none;
}

/* ===== Contenedor Principal ===== */
.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

section.container {
  padding: 56px 64px;
  display: flex;
  gap: 80px;
  height: 864px;
  min-height: fit-content;
}

@media (max-width: 770px) {
  section.container {
    padding: 64px 20px;
    height: fit-content;
    flex-direction: column;
  }
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: inherit;
}

.link:hover {
  /* opacity: 0.8; */
  color: var(--primary-color-opacity);
}
